<p id="notice"><%= notice %></p>

<p>
  <b>Attachment:</b>
  <%= @photo.attachment %>
</p>

<p>
  <b>Code:</b>
  <%= @photo.code %>
</p>


<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
